/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2 de abr. de 2024, 19:34:23
    Author     : nicolas.deves
*/

.container-acessar-caixa {
    margin-top: 5em;
}

.botao-abrir-caixa {
    margin: 1em 0em 1em 0em
}












.formulario {
    margin: 3em 0em 0em 4em;
    width: 40%;
}





.lista-produtos {
    
}
